* { margin:0; padding:0; box-sizing: border-box; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; font-size: 100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

.toolbox {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  width: 40%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
}

.toolbox > *{
  background: #ffffff;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  margin: 0 4px;
}
.toolbox > span {
  padding: 7px;
}
.toolbox > input[type="color"] {
  padding: 0;
  position: relative;
}
.toolbox > #clear {
  background: linear-gradient(45deg, #c0392b, #ff042d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: auto;
  height: auto;
  padding: 7px 0;
  margin-left: auto;
}

.toolbox > #eraser {
  background: linear-gradient(45deg, #0af794, #04a3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: auto;
  height: auto;
  padding: 7px 0;
}